* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: rgb(245, 233, 233);
    display: flex; /* se acomoda en entornos */
    flex-direction: column; /* esta en columna */
}

#header {
    position: sticky;   /* se pega cuando llega al límite */
    top: 0;             /* límite superior */
    background: linear-gradient(to bottom, #802020, #424141);
    z-index: 1000;      /* no cambia */
    width: 100%;        /* ocupa todo el ancho */
    margin: 0;          /* quita el auto que rompe sticky */
}


ul {
    list-style: none; /* bloquea listado */
}

.nav {
    position: sticky; /* lo mismo we */
    top: 0px; /* ajusta según la altura del header */
    width: 100%; /* anchura */
    background: linear-gradient(to bottom, #802020, #424141);
    z-index: 999; /* no cambiar */
}


.nav > li {
    float: left; /* lo envia hacia la izquierda */
}

.nav li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 38px;
    display: block;
}

.nav li a:hover {
    background-color: #aeaaaa;
}

.nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
    background: linear-gradient(to bottom, #802020, #424141);
    
}

.nav li:hover > ul {
    display: block;
}

.nav li ul li {
    position: relative;

}

.nav li ul li ul {
    left: 100%;
    top: 0;
}
