* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .slider-wrapper {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .slider {
      display: flex;
      aspect-ratio: 16 / 9;
      overflow-x: hidden;
      scroll-snap-type: x mandatory;
      scroll-behavior: smooth;
      box-shadow: 0 .25rem .5rem rgba(#212121, .5) ;
      border-radius: .5rem;
  
  }
  
  .slider img {
     width: 1000px;    
     height: auto;     
     object-fit: contain; 
     flex: 0 0 100%;   
  }
  
  .slider-nav {
      display: flex;
      column-gap: 1rem;
      position: absolute;
      bottom: 1.25rem;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
  }
  
  .slider-nav a {
      width: .5rem;
      height: .5rem;
      border-radius: 70%;
      background-color: rgb(1, 55, 102);
      opacity: .75;
      transition: opacity ease 250ms;
  }
  .slider-nav a:hover {
      opacity: 1;
  }
  